anaconda-anon-usage==0.5.0
archspec==0.2.3
asgiref==3.8.1
asttokens==3.0.0
boltons==23.0.0
Brotli==1.0.9
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.3.2
conda>=24.11.0
conda-anaconda-telemetry==0.1.1
conda-content-trust==0.2.0
conda-libmamba-solver==24.9.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
cryptography==43.0.3
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.4
django-environ==0.11.2
djangorestframework==3.15.2
executing==2.1.0
filelock==3.15.4
frozendict==2.4.2
gunicorn==23.0.0
idna==3.7
ipython==8.30.0
jedi==0.19.2
Jinja2==3.1.4
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==2.1
libmambapy==1.5.11
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
menuinst==2.2.0
networkx==3.4.2
numpy==2.2.1
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pip==24.3.1
pipenv==2024.0.1
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.48
psycopg==3.2.3
psycopg-binary==3.2.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycosat==0.6.6
pycparser==2.21
Pygments==2.18.0
PySocks==1.7.1
pyvis==0.3.2
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
setuptools==72.2.0
sqlparse==0.5.2
stack-data==0.6.3
tqdm==4.66.5
traitlets==5.14.3
truststore==0.8.0
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.3
wcwidth==0.2.13
wheel==0.44.0
zstandard==0.23.0
