{% extends "datashare/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block contents %}
  <p>こんにちは、{{ user.username|safe }}さん</p>
  <ul>
    <li>所属プロジェクト</li>
    {% for item in my_project %}
      <li>{{ item.name }}</li>
    {% endfor %}
  </ul>
  <p>{{ msg|safe }}</p>
  <table border="1" style="border-collapse: collapse; border-color: #000000;">
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Project</th>
      <th>Message</th>
      <th>Document</th>
      <th>Date</th>
    </tr>
    {% for item in pub_message_list %}
       <tr>
        <td><a href="{% url 'datashare:edit' item.id %}">Edit ID = {{ item.id }}</a></td>
        <td>{{ item.sender }}</td>
        <td>{{ item.project }}</td>
        <td>{{ item.send_message }}</td>
        <td><a href="{{ MEDIA_URL }}/media/{{ item.send_document }}">{{ item.send_document }}</a></td>
        <td>{{ item.send_date }}</td>
      </tr>
    {% endfor %}
    </table>
    <p><a href="{% url goto_publish_db %}">投稿ページへ（DB接続）</a></p>
    <p><a href="{% url goto_logout %}">Logout</a></p>
{% endblock %}